# .env.example
GEMINI_API_KEY=
VITE_PADDLE_CLIENT_TOKEN=live_b50f98e90b7e23d1a8018ce3251
VITE_PADDLE_PRICE_ID_CREATOR=pro_01kx7z5pr7vce4zgam5z20k603
VITE_PADDLE_PRICE_ID_AGENCY=pro_01kx7zdreydpyb35wpqb61qr45
